[submodule "js/sub/surveyman.js"]
	path = js/sub/surveyman.js
	url = git@github.com:SurveyMan/surveyman.js.git
	branch = gh-pages
[submodule "SurveyMan"]
	path = SurveyMan
	url = git@github.com:SurveyMan/SurveyMan
